* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}



body {
    color: #333;
    background-color: #f5f4f4; 
    padding-bottom: 80px;
    font-size: 18px;
}

.container {
    max-width: 1200px;
    margin: 0 auto; 
    padding: 15px 30px;
    background-color: #ffffff; 
    min-height: 100vh; 
    box-shadow: 0 0 15px rgba(0,0,0,0.05); 
}


header {
    margin-left: 2em;
    margin-right: 2em;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    color: #f25b50;
    margin-top: 2.5em;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.main-title {
    font-size: 3.5rem;
    text-shadow: -2px -1px #f25b50, 0 2px #f25b50, 2px 3px black; 
    color: white;
}

.group-floating-right {
    float: right;
    margin-bottom: 0.5em;
}

.search-button {
    border: 1.5px solid #f25b50;
    padding: 8px 16px;
    background-color: #ffffff; 
    color: #f25b50;
}

#site-search {
    padding: 8px;
    margin-right: 1em;
    width: 15em; 

}

.add-teacher-button {
    float: right;
    border: 1.5px solid #f25b50;
    background-color: #ffffff; 
    width: 8em; 
    height: 2.4em;
    font-size: 1em;
    font-weight: 550;
    color: #f25b50;
}




.navig-links {
    display: flex;
    align-items: center;
    gap: 1.8em;
}

.accent-color {
    color: #f25b50;
    font-size: 1em;
    font-weight: 550;
    text-decoration: none;
}

