* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

html {
    font-size: 75%;
}


body {
    color: #333;
    background-color: #f5f4f4; 
    padding-bottom: 80px;
    font-size: 16px;
}

.container {
    width: 70%;
    max-width: 1400px;
    margin: 0 auto; 
    padding: 15px 30px;
    background-color: #ffffff; 
    min-height: 100vh; 
    box-shadow: 0 0 15px rgba(0,0,0,0.05); 
}


header {
    margin-left: 2em;
    margin-right: 2em;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f25b50;
    margin-top: 2.5em;
}

.top-header {
    display: flex;
    justify-content: space-between;
    align-items: end;
}


.main-title {
    font-size: 3rem;
    text-shadow:  -2px -1px #f25b50, 2px 1px black; 
    color: white;
}

.main-title:hover {
    cursor: pointer;
    text-shadow: -3px -1px #f25b50, 3px 1px black; 
}

.group-floating-right {
    align-items: end;
    float: right;
}

.search-button {
    border: 1.3px solid #f25b50;
    padding: 0.5rem 1rem;
    background-color: #ffffff; 
    color: #f25b50;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 1%;
}

.search-button:hover {
    background-color: #f25b50;
    color: white;
}

.site-search {
    font-size: 11px;
    padding: 0.5rem;
    margin-right: 1em;
    width: 15em; 
}

.add-teacher-button {
    float: right;
    border: 1.4px solid #f25b50;
    background-color: #ffffff; 
    width: 7.5em; 
    height: 2.5em;
    font-size: 1em;
    font-weight: 550;
    color: #f25b50;
    border-radius: 1%;
}

.add-teacher-button:hover {
    background-color: #bb4840;
    color: white;
}

.navig-links {
    display: flex;
    align-items: center;
    gap: 1.8em;
}

.accent-color {
    color: #f25b50;
    font-size: 1em;
    font-weight: 500;
    text-decoration: none;
}

.accent-color:hover {
    color: #bb4840;
}

.divider {
    border-top: 1.4px solid #333;
    margin: 2em auto 1.7em;
    width: 50%; 
}

.secondary-header {
     text-align: center;
     font-size: 1.65em;
}

.search-filters {
    display: flex;
    align-items: center; 
    margin-left: 2em;
    margin-right: 2em;
    margin-top: 3%;
}

.vertical-divider-dots {
    border-left: 1.5px dotted rgb(150, 150, 150);
    height: 1.7em;
    margin-left: 2%;
    margin-right: 2%;
}

.filter-divider {
    margin-left: 10px;
}

.filter-item select{
    padding: 0.4rem 0.2rem;
    border: 1px solid black;
    font-size: 0.7em;
    font-weight: 400;
    border-radius: 5%;
}

.filter-item label {
    font-size: 0.72em;
    color: grey;
    vertical-align: middle;
}

.checkbox-item label:hover {
    color: black;
}

.checkbox-item {
    gap: 6px;
}

.checkbox-item input {
    margin: 0; 
}


.teacher-showcase {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    width: fit-content;       
    margin: 3em 80px auto;
    margin-bottom: 50px;
    gap: 2.1em; 
}

.teacher-card {
    display: flex;
    flex-direction: column;
    align-items: center; 
    text-align: center;
    position: relative; 
    transition: transform 0.2s;
}

.pfp-container {
    position: relative;
    width: 8.5rem; 
    height: 8.5rem;
    margin: 0 auto 15px;
    border-radius: 50%; 
    border: 3px solid #f25b50;
    overflow: hidden; 
}

.pfp-container:hover {
    border: 3.5px solid #a3423b;
}

.pfp-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
    float: none; 
}


.teacher-name {
    font-size: 1em;
    color: rgb(71, 71, 71);
    font-weight: 550;
}

.teacher-subject {
    margin-top: 6%;
    font-size: 0.7em;
    font-weight: 400;
    color: grey;
}

.teacher-country {
    margin-top: 7%;
    font-size: 0.5em;
    font-weight: 500;
}

.statistics {
    width: calc(100% - 4em);
    border-collapse: collapse;
    font-size: 0.65em;
    margin-left: 2em;
    margin-right: 2em;
    margin-bottom: 30px;
    margin-top: 30px;
}

.statistics th, 
.statistics td {
    padding: 7px 18px;
    text-align: center;
}

.statistics th {
    padding-left: 2.6em;
    text-align: center;
    cursor: pointer;
    font-weight: 500;
    font-size: 1.2em;
    color: #454343;
    transition: background-color 0.2s;
    border-bottom: 1.5px solid #8b8888;
}

.statistics th:first-child {
    text-align: left; 
}

.statistics td:first-child {
    text-align: left; 
}

.statistics tbody tr:nth-child(even) {
    background-color: #faeef4; 
}

.statistics th:hover {
    background-color: #e1dede;
    border-bottom: 3px solid #333;
    padding-bottom: 15px; 
}

.sort-arrow {
    color: rgb(66, 132, 207);
    font-weight: 500;
    opacity: 0;
    margin-left: 10px;
    font-size: 1em;
    transition: opacity 0.3s;
}

.statistics th:hover .sort-arrow {
    opacity: 0.6; 
    padding-bottom: -20px;
}

.pagination {
    margin-left: 2em;
    font-size: 0.7em;
}

.pagination span {
    color: rgb(94, 94, 94);
    margin-left: 1em;
}
#dots {
    font-weight: bold;
}

.pagination a {
    color: rgb(98, 160, 205);
    margin-left: 1em;
    text-decoration: none;
}

.favorites-showcase {
    margin-top: 1.7em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2.3em;
}

.arrow-button {
    font-size: 5em;
    color: grey;
    background-color: #ffffff; 
    border: 0px solid blue;
    margin-bottom: 0.5em;
}

.arrow-button:hover {
    color: black;
}

.info-text {
    margin-left: 2em;
    margin-right: 2em;
}

.info-text p {
    font-size: 0.9rem;
    margin-bottom: 20px;
}

.bottom-navig {
    margin-left: 2em;
    margin-right: 2em;
}